<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Parking IoT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<h2 id="titulo-plano">Planta Baja</h2>

<div id="plano-container">
  <img id="plano-img" src="{{ url_for('static', filename='img/plano_PB.jpg') }}">
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
